extends layout

block content
	#gismap
		#viewDiv
		.no-side-boundry.full-height.col-xs-12.col-sm-5.col-md-4.col-lg-3
			.view-control.control-panel-shown
				button.ui.circular.blue.icon.button.view-control-btn.btn-shown
					i.angle.left.icon
				.top-indicator.indicator
				label Search
					a Advanced
				.advanced-search
				#search-bar.view-settings.ui.search
					#search.ui.icon.input
						input.prompt(type='text' placeholder="Find data")
						i.search.icon
				label View Options
				#view-options.view-settings
					select.ui.dropdown.changeVT
						option(value='3D') 3D Globe
						option(value='2D') 2D Map
					select.ui.dropdown.changeBT
						option(value='oceans') oceans
						option(value='terrain') terrain
						option(value='topo') topo
						option(value='satellite') satellite
				label Select Layers
				#select-layers.view-settings
				.list-body.list-hidden
	script(src='/mapdir/javascripts/jquery-2.1.4.min.js')
	script(src='https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js')
	//script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
	//script(src='/mapdir/javascripts/bootstrap-min.js')
	script(src='/mapdir/javascripts/dropdown.min.js')
	//script(src='https://cdn.jsdelivr.net/semantic-ui/2.1.8/components/dropdown.min.js')
	script(src='/mapdir/javascripts/search.min.js')
	//script(src='https://cdn.jsdelivr.net/semantic-ui/2.1.8/components/search.min.js')
	script(src='/mapdir/javascripts/lodash.min.js')
	script(src='https://js.arcgis.com/4.0/')
	script(src='/mapdir/javascripts/intense.min.js')
	script(src='/mapdir/javascripts/mgis.js')