extends layout

block content
	#gismap
		.view-control.col-xs-12.col-sm-12.col-md-4.col-lg-3
			.select-basemap
				label View Mode
				ul
					li
						a.changeBT oceans
					li
						a.changeBT satellite
			.select-layers
				label Select Layers
				br
				.layer-btn(data-type='layer1')
					label layer1
					.layer-symbol.layer-layer1
				.layer-btn(data-type='layer2')
					label layer2
					.layer-symbol.layer-layer2
				.layer-btn(data-type='layer3')
					label layer3
					.layer-symbol.layer-layer3
				.layer-btn(data-type='layer4')
					label layer4
					.layer-symbol.layer-layer4
		#viewDiv
		#full-list.col-xs-12.col-sm-12.col-md-4.col-md-offset-4.col-lg-3.col-lg-offset-6
	script(src='/javascripts/jquery-2.1.4.min.js')
	script(src='https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js')
	script(src='/javascripts/bootstrap-min.js')
	script(src='/javascripts/underscore-min.js')
	//script(src='https://js.arcgis.com/3.15/')
	script(src='/arcgis_js_api/init.js')
	script(src='/javascripts/intense.min.js')
	script(src='/javascripts/maps.js')
	script(src='/javascripts/core.js')
	//script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")