extends layout

block content
	#gismap
		#viewDiv
		.no-side-boundry.full-height.col-xs-12.col-sm-5.col-md-4.col-lg-3
			.view-control.control-panel-shown
				button.ui.circular.blue.icon.button.view-control-btn.btn-shown
					i.angle.left.icon
				.top-indicator.indicator
				#search-bar.view-settings.ui.search.menu-container-sub
					.label Search
						a Advanced
					.advanced-search
					#search.ui.icon.input
						input.prompt(type='text' placeholder="Find data")
						i.search.icon
				#view-options.view-settings.menu-container-sub
					.label View Options
					select.ui.dropdown.changeVT
						option(value='3D') 3D Globe
						option(value='2D') 2D Map
					select.ui.dropdown.changeBT
						option(value='oceans') oceans
						option(value='terrain') terrain
						option(value='topo') topo
						option(value='satellite') satellite
				.menu-container-sub
					.label Select Layers
					#select-layers.view-settings
				.menu-container-sub
					.list-body.list-hidden
	script(src='/map/javascripts/dist/jquery-2.1.4.min.js')
	script(src='https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js')
	script(src='/map/semantic/semantic.min.js')
	script(src='/map/javascripts/dist/lodash.min.js')
	script(src='https://js.arcgis.com/4.0/')
	script(src='/map/javascripts/dist/intense.min.js')
	script(src='/map/javascripts/dist/mgis.babeled.min.js')