extends layout

block content
	#gismap
		#viewDiv
		.full-height.no-side-boundry.col-xs-12.col-sm-5.col-md-4.col-lg-3
			.control-panel
				.view-control-btn
					span.glyphicon.glyphicon-menu-left.list-btn
				.view-control.control-panel-shown
					//.label-settings
						span.glyphicon.glyphicon-cog
					.top-indicator.indicator
					#search-bar
						#search
							input.search-input(type='text')
							span.glyphicon.glyphicon-search.search-btn
						a Advanced
					#view-settings
						.view-options
							strong View Options
							div.select.select-viewtype
								select.changeVT
									option(selected) 3D Globe
									option 2D Map
							div.select.select-maptype
								select.changeBT
									option(selected) oceans
									option terrain
									option topo
									option satellite
						.select-layers
							label Select Layers
							br
							//.layer-btn(data-type='layer1')
								label layer1
								.layer-symbol.layer-layer1
							//.layer-btn(data-type='layer2')
								label layer2
								.layer-symbol.layer-layer2
							//.layer-btn(data-type='layer3')
								label layer3
								.layer-symbol.layer-layer3
							//.layer-btn(data-type='layer4')
								label layer4
								.layer-symbol.layer-layer4
					.list-body.list-hidden
					.bottom-indicator.indicator
					#loader-holder
						#loader
						.loading-tip
		//.list-div.list-div-toggle
			.list-head
				span.glyphicon.glyphicon-menu-up.list-btn(title='come out!')
			.list-nav.list-nav-left
				span.glyphicon.glyphicon-menu-left
			.list-body
			.list-nav.list-nav-right
				span.glyphicon.glyphicon-menu-right
	script(src='/javascripts/jquery-2.1.4.min.js')
	script(src='https://cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js')
	//script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
	script(src='/javascripts/bootstrap-min.js')
	script(src='/javascripts/lodash.min.js')
	script(src='/arcgis_js_api/init.js')
	script(src='/javascripts/intense.min.js')
	script(src='/javascripts/mgis.js')
	//script(src='/javascripts/webgis-core.js')