doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel='stylesheet', href='/map/stylesheets/grid-only.bootstrap.min.css')
		link(rel='stylesheet', href='/map/stylesheets/button.min.css')
		link(rel='stylesheet', href='/map/stylesheets/dropdown.min.css')
		link(rel='stylesheet', href='/map/stylesheets/search.min.css')
		link(rel='stylesheet', href='/map/stylesheets/icon.min.css')
		link(rel='stylesheet', href='/map/stylesheets/input.min.css')
		//link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		//link(rel='stylesheet', href='https://cdn.jsdelivr.net/semantic-ui/2.1.8/components/button.min.css')
		//link(rel='stylesheet', href='https://cdn.jsdelivr.net/semantic-ui/2.1.8/components/dropdown.min.css')
		//link(rel='stylesheet', href='https://cdn.jsdelivr.net/semantic-ui/2.1.8/components/search.min.css')
		//link(rel='stylesheet', href='https://cdn.jsdelivr.net/semantic-ui/2.1.8/components/icon.min.css')
		//link(rel='stylesheet', href='https://cdn.jsdelivr.net/semantic-ui/2.1.8/components/input.min.css')
		//link(rel='stylesheet' href="/arcgis_js_api/esri/css/main.css")
		link(rel='stylesheet' href="https://js.arcgis.com/4.0/esri/css/main.css")
		link(rel='stylesheet', href='/map/stylesheets/test.min.css')
	body
		block content
