doctype html
html
	head
		title= title
		meta(charset="utf-8")
		meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel='stylesheet', href='/map/stylesheets/dist/grid-only.bootstrap.min.css')
		link(rel='stylesheet', href='/map/semantic/semantic.min.css')
		link(rel='stylesheet' href="https://js.arcgis.com/4.0/esri/css/main.css")
		link(rel='stylesheet', href='/map/stylesheets/dist/style.min.css')
	body
		block content
