html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.esri-ui-top-left{
    z-index:10
}
#gismap {
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup-img {
    width: 100%;
}

#viewDiv {
    position: absolute;
    width: 100%;
    height: 100%;
}

.view-control {
    opacity: 0.8;
    padding: 10px 10px 10px 10px;
    position: absolute;
    left: 0px;
    z-index: 9;
    background-color: white;
}

.view-control:hover {
    opacity: 1;
}
@keyframes show-list{
    from {
        bottom: -240px;
    }
    to {
        bottom: 0px;
    }
}
span{
    cursor: pointer;
}
.list-div{
    position: absolute;
    width: 100%;
    bottom: -240px;
    opacity: 0.8;
}
.list-head{
    position: relative;
    left:50%;
    color:white;
    width:40px;
    height:40px;
}
.list-btn{
    position: relative;
    left:-20px;
    top:10px;
    color:white;
    width:40px;
    height:40px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 40px;
    box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.3);
    z-index: 9;
}
.btn-pinned{
    -ms-transform: rotate(315deg); /* IE 9 */
    -webkit-transform: rotate(315deg); /* Safari */
    transform: rotate(315deg);
}
.show-list,.hide-list{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}
.list-head{
    position: relative;
    width: 100%;
}
.list-body{
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 241px;
    padding: 10px;
    overflow: scroll;
    background-color: white;
    box-shadow: 0px -5px 24px -5px rgba(0, 0, 0, 0.6);
}
.list-item{
    display: inline-block;
    max-width: 320px;;
}
.list-btn:hover,.list-body:hover{
    opacity: 1;
}

.list-div-toggle:hover{
    animation-name: show-list;
    animation-duration: 0.8s;
}
.list-shown {
    animation-name: show-list;
    animation-duration: 2s;
    bottom: 0px;
}
.list-hidden{
    animation-name: show-list;
    animation-duration: 1s;
    animation-direction: reverse;
    bottom: -240px;
}
.full-img {
    position: absolute;
    z-index: -99;
    width: 0px;
}

.prev-img {
    cursor: zoom-in;
    max-width: 280px;
}

a {
    color: #00B7FF;
    cursor: pointer;
}
.select-basemap,
.select-layers{
    position: relative;
    left:50px;
}
.cover-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    padding: 0px;
    margin: 0px;
}

.panel-left {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.panel-right {
    height: 100%;
    background-color: white;
}

.layer-btn {
    width: 64px;
    height: 40px;
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    text-align: center;
    border: 1px solid lightgray;
    display: inline-block;
}

.layer-symbol {
    width: 90%;
    border-bottom: 3px solid lightgray;
}

.layer-layer1 {
    border-color: red;
}

.layer-layer2 {
    border-color: blue;
}

.layer-layer3 {
    border-color: green;
}

.layer-layer4 {
    border-color: yellow;
}
